{% extends "base.html" %}

{% block title %}
Thermos -- Welcome
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p>This is a social bookmarking site.</p>
        </header>
        <section>
            <h2>Recent Added Bookmarks</h2>
            <!--{% if new_bookmarks %}-->
                <!--<ul>-->

                    <!--{% for bm in new_bookmarks: %}-->
                        <!--<li><a href="{{ url_for('bookmarks.user', username=bm.user.username)}}">{{ bm.user.username }}</a> added <a href="{{ bm.url }}">{{ bm.description }}</a></li>-->
                    <!--{% endfor %}-->
                <!--</ul>-->
            <!--{% else %}-->
                <!--No bookmarks added yet.-->
            <!--{% endif %}-->
            {% if new_bookmarks.count() > 0 %}
                {% with bookmarks=new_bookmarks %}
                    {% include "bookmark_list.html" %}
                {% endwith %}
            {% else %}
                No bookmarks added yet.
            {% endif %}
        </section>
        <section>
            <h3>section2</h3>
            <p>stuff</p>
        </section>
    </article>
{% endblock %}
